In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('country.csv')
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

##  Country.csv dosyasÄ±nÄ±n Ã¶zelliÄŸi
Bu tablo, Ã§eÅŸitli Ã¼lkelerle ilgili bir dizi demografik, ekonomik ve coÄŸrafi veriyi iÃ§ermektedir. Tabloda her bir satÄ±r bir Ã¼lkeyi temsil ederken, sÃ¼tunlar bu Ã¼lkelerle ilgili farklÄ± Ã¶zellikleri gÃ¶sterir. Ä°ÅŸte sÃ¼tunlarÄ±n anlamlarÄ±:

Country: Ãœlkenin adÄ±.  
Region: Ãœlkenin bulunduÄŸu bÃ¶lge (Ã¶rneÄŸin, Asya, DoÄŸu Avrupa).  
Population: Ãœlkenin toplam nÃ¼fusu.  
Area (sq. mi.): Ãœlkenin yÃ¼zÃ¶lÃ§Ã¼mÃ¼ (mil kare olarak).  
Pop. Density (per sq. mi.): NÃ¼fus yoÄŸunluÄŸu (mil kare baÅŸÄ±na dÃ¼ÅŸen kiÅŸi sayÄ±sÄ±).  
Coastline (coast/area ratio): Sahil uzunluÄŸunun, Ã¼lkenin toplam alanÄ±na oranÄ±.  
Net migration: Net gÃ¶Ã§ oranÄ± (gÃ¶Ã§menlerin Ã¼lkeye giren veya Ã¼lkeden Ã§Ä±kan kiÅŸi sayÄ±sÄ±na gÃ¶re oranÄ±).  
Infant mortality (per 1000 births): Bebek Ã¶lÃ¼m oranÄ± (1000 doÄŸum baÅŸÄ±na).  
GDP ($ per capita): KiÅŸi baÅŸÄ±na dÃ¼ÅŸen Gayri Safi YurtiÃ§i HasÄ±la (GSYÄ°H).  
Literacy (%): Okur-yazarlÄ±k oranÄ±.  
Phones (per 1000): Her 1000 kiÅŸi baÅŸÄ±na dÃ¼ÅŸen telefon sayÄ±sÄ±.  
Arable (%): TarÄ±ma elveriÅŸli arazi yÃ¼zdesi.  
Crops (%): Ekilebilir Ã¼rÃ¼nlerin yÃ¼zdesi.  
Other (%): DiÄŸer arazi kullanÄ±mÄ± yÃ¼zdesi.  
Climate: Ãœlkenin iklim kategorisi (numerik bir deÄŸer olarak gÃ¶sterilmiÅŸ).  
Birthrate: DoÄŸum oranÄ±.  
Deathrate: Ã–lÃ¼m oranÄ±.  
Agriculture: TarÄ±m sektÃ¶rÃ¼nÃ¼n ekonomideki payÄ±.  
Industry: Sanayi sektÃ¶rÃ¼nÃ¼n ekonomideki payÄ±.  
Service: Hizmet sektÃ¶rÃ¼nÃ¼n ekonomideki payÄ±.

## Bu Dosyada YapacaÄŸÄ±nÄ±z gÃ¶revleri alt taraftan bakabilirsiniz.

## 1. GÃ¶rev : NÃ¼fusa GÃ¶re Azalan SÄ±rada SÄ±ralama:

In [4]:
population_sorted = data.sort_values(by="Population", ascending=False)

print(population_sorted[['Country', 'Population']])

                   Country  Population
42                  China   1313973713
94                  India   1095351995
214         United States    298444215
95              Indonesia    245452739
27                 Brazil    188078227
..                     ...         ...
144                 Nauru        13287
209                Tuvalu        11810
140            Montserrat         9439
171          Saint Helena         7502
174  St Pierre & Miquelon         7026

[227 rows x 2 columns]

## 2. GÃ¶rev: GDP per capita sÃ¼tununa gÃ¶re Ã¼lkeleri artan sÄ±rada sÄ±ralamak(KiÅŸi baÅŸÄ±na dÃ¼ÅŸen Gayri Safi YurtiÃ§i HasÄ±la).

In [5]:
gdp_sorted = data.sort_values(by='GDP ($ per capita)', ascending=True)

print(gdp_sorted[['Country', 'GDP ($ per capita)']])

             Country  GDP ($ per capita)
58       East Timor                500.0
183    Sierra Leone                500.0
188         Somalia                500.0
33          Burundi                600.0
125          Malawi                600.0
..               ...                 ...
22          Bermuda              36000.0
154          Norway              37800.0
214   United States              37800.0
121      Luxembourg              55100.0
223  Western Sahara                  NaN

[227 rows x 2 columns]

## 3. GÃ¶rev: Population sÃ¼tunu 10 milyonun Ã¼zerinde olan Ã¼lkeleri seÃ§mek.

In [6]:
high_population = data[data['Population'] > 10000000]

print(f"Total countries: {len(high_population)}")
print(high_population[['Country', 'Population']])

Total countries: 79
          Country  Population
0    Afghanistan     31056997
2        Algeria     32930091
5         Angola     12127071
8      Argentina     39921833
11     Australia     20264082
..            ...         ...
218    Venezuela     25730435
219      Vietnam     84402966
224        Yemen     21456188
225       Zambia     11502010
226     Zimbabwe     12236805

[79 rows x 2 columns]

## 4. GÃ¶rev: Literacy (%) sÃ¼tununa gÃ¶re Ã¼lkeleri sÄ±ralayÄ±p, en yÃ¼ksek okur-yazarlÄ±k oranÄ±na sahip ilk 5 Ã¼lkeyi seÃ§mek.

In [7]:
literacy_sorted = data.sort_values(by='Literacy (%)', ascending=False)

print(literacy_sorted[['Country', 'Literacy (%)']].head(5))

             Country Literacy (%)
53   Czech Republic          99,9
93          Iceland          99,9
163          Poland          99,8
114          Latvia          99,8
64          Estonia          99,8

## 5. GÃ¶rev:  KiÅŸi BaÅŸÄ± GSYÄ°H 10.000'in Ãœzerinde Olan Ãœlkeleri Filtreleme: GDP ( per capita) sÃ¼tunu 10.000'in Ã¼zerinde olan Ã¼lkeleri seÃ§mek.

In [8]:
high_gdp = data[data['GDP ($ per capita)'] > 10000]

print(f"Total countries with GDP > $10,000: {len(high_gdp)}")
print(high_gdp[['Country', 'GDP ($ per capita)']])

Total countries with GDP > $10,000: 76
                   Country  GDP ($ per capita)
4                 Andorra              19000.0
7       Antigua & Barbuda              11000.0
8               Argentina              11200.0
10                  Aruba              28000.0
11              Australia              29000.0
..                     ...                 ...
212  United Arab Emirates              23200.0
213        United Kingdom              27700.0
214         United States              37800.0
215               Uruguay              12800.0
220        Virgin Islands              17200.0

[76 rows x 2 columns]

## GÃ¶rev 6 : En YÃ¼ksek NÃ¼fus YoÄŸunluÄŸuna Sahip Ä°lk 10 Ãœlkeyi SeÃ§me:
Pop. Density (per sq. mi.) sÃ¼tununa gÃ¶re Ã¼lkeleri sÄ±ralayÄ±p, en yÃ¼ksek nÃ¼fus yoÄŸunluÄŸuna sahip ilk 10 Ã¼lkeyi seÃ§mek.

In [9]:
density_sorted = data.sort_values(by='Pop. Density (per sq. mi.)', ascending=False)

print(density_sorted[['Country', 'Pop. Density (per sq. mi.)']].head(10))

         Country Pop. Density (per sq. mi.)
9       Armenia                        99,9
186    Slovenia                        99,2
202        Togo                        97,7
12      Austria                        97,7
168     Romania                        93,9
77        Ghana                        93,6
140  Montserrat                        92,5
13   Azerbaijan                        91,9
56     Dominica                        91,4
206      Turkey                        90,2