# **Part 1 - Data Types**

In [ ]:
#First Question
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height (Example: 1.75): "))

print("Hello, I am", name,"!", "Age:", age, "Height:", height)

Enter your name: Ali
Enter your age: 17
Enter your height (Example: 1.75): 1.90
Hello, I am Ali ! Age: 17 Height: 1.9

In [ ]:
#Second Question
math = 94
physics = 83
chemistry = 88

average = (math + physics + chemistry) / 3

print("Average Grade:", average)

Average Grade: 88.33333333333333

In [ ]:
# Third Question
text = "Python"

print("First character:", text[0])
print("Last character:", text[-1])
print("Length:", len(text))
print("Reversed:", text[::-1])

First character: P
Last character: n
Length: 6
Reversed: nohtyP

# **Part 2 - Operators**

In [ ]:
# Forth Question
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print("Addition: ", num1 + num2)
print("Subtraction: ", num1 - num2)
print("Multiplication: ", num1 * num2)
print("Division: ", num1 / num2)
print("Modulo: ", num1 % num2)

Enter the first number: 75
Enter the second number: 50
Addition:  125
Subtraction:  25
Multiplication:  3750
Division:  1.5
Modulo:  25

In [ ]:
# Fifth Question
student_grade = int(input("Enter the student's grade: "))
passing_grade = student_grade > 50

print("Did the student pass the exam?", passing_grade)

Enter the student's grade: 80
Did the student pass the exam? True

In [ ]:
# Sixth Question
age_of_user = int(input("Enter your age: "))
valid_age = age_of_user >= 18

if valid_age:
  print("You can get a driver's license. You are old enough to drive! ✅")
else:
    print("You can't get a driver's license. You are not old enough to drive! ❌")

Enter your age: 14
You can't get a driver's license. You are not old enough to drive! ❌

In [ ]:
# Seventh Question
price = float(input("Enter the product price: "))
discount = float(input("Enter the discount rate (%): "))

discounted_price = price - (price * discount / 100)

print("Discounted price:", discounted_price)

Enter the product price: 100
Enter the discount rate (%): 25
Discounted price: 75.0

In [ ]:
# Eighth Question
x = True
y = False

print("x and y: ", x and y)
print("x or y: ", x or y)
print("not x: ", not x)
print("not y: ", not y)

x and y:  False
x or y:  True
not x:  False
not y:  True

# **Part 3 - Mini Project**

In [2]:
# Nineth Question
price_1 = float(input("Enter the first price: "))
price_2 = float(input("Enter the second price: "))
price_3 = float(input("Enter the third price: "))

total_price = price_1 + price_2 + price_3

if total_price > 200:
  final_total_price = total_price - (total_price * 0.1)
  print("A 10% discount was applied because the total price exceeded 200 TL.")
  print("Total price with 10% discount: ", final_total_price)
else:
  print("No discount was applied.")
  print("Total price: ", total_price)

Enter the first price: 10
Enter the second price: 20
Enter the third price: 50
No discount was applied.
Total price:  80.0

In [8]:
# Tenth Question
year_of_birth = int(input("Enter your year of birth: "))
current_year = 2025

age_of_user = current_year - year_of_birth
print("Your age: ", age_of_user)

if age_of_user <= 12:
  print("You are a child")
elif 13 <= age_of_user <= 17:
  print("You are a teenager.")
elif 18 <= age_of_user:
  print("You are an adult.")

Enter your year of birth: 2022
Your age:  3
You are a child